### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env*.local

# Temporary folders
tmp/
temp/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### temp rss ###
*.rss
*.atom
*.xml

# Local Netlify folder
.netlify
